<a href="https://colab.research.google.com/github/clp2454/QM2/blob/main/group%20project/Correlation_GP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

url = "https://fred.stlouisfed.org/series/PCU311351311351"
try:
    # Try reading as CSV first, which might work for some FRED URLs
    df = pd.read_csv(url)
except pd.errors.ParserError:
    # If CSV parsing fails, try reading as HTML
    df_list = pd.read_html(url)
    # Usually the first table is the data, but we add a check to verify
    if len(df_list) > 0:
        df = df_list[0]
    else:
        raise Exception("No tables found in HTML")

print(df.head())

           0        1   2
0  Nov 2024:  271.314 NaN
1  Oct 2024:  240.126 NaN
2  Sep 2024:  237.169 NaN
3  Aug 2024:  237.877 NaN
4  Jul 2024:  229.400 NaN

In [ ]:
#Importing the data sets and assigning them each a dataframe

In [ ]:
#Calculating the Pearson Correlation Coefficient for cocoa price vs chocolate price